.vw-20 {
    width: 20vw;
}

.project-card {
    width: 290px;
    height: 250px;
    background: #161B22;
    border: 1px solid #30363d;
}

.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}