.vw-20 {
    width: 20vw;
}

.vh-20 {
    width: 20vh;
}

.post-card {
    width: 290px;
    height: 360px;
    background: #161B22;
    border: 1px solid #30363d;
}

.post-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}